services:
  patient-service-db:
    image: postgres:15
    ports:
      - "${POSTGRES_EXTERNAL_PORT}:${POSTGRES_PORT}"
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_USER: ${POSTGRES_USER}
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s

  auth-service-db:
    image: postgres:15
    ports:
      - "${POSTGRES_EXTERNAL_PORT_AUTH_SERVICE}:${POSTGRES_PORT}"
    environment:
      POSTGRES_DB: ${POSTGRES_DB_AUTH_SERVICE}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD_AUTH_SERVICE}
      POSTGRES_USER: ${POSTGRES_USER_AUTH_SERVICE}
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${POSTGRES_USER_AUTH_SERVICE} -d ${POSTGRES_DB_AUTH_SERVICE}" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s

  kafka:
    image: apache/kafka:latest
    ports:
      - "${KAFKA_PORT}:${KAFKA_PORT}"
      - "${KAFKA_EXTERNAL_PORT}:${KAFKA_EXTERNAL_PORT}"
    environment:
      KAFKA_NODE_ID: ${KAFKA_NODE_ID}
      KAFKA_PROCESS_ROLES: ${KAFKA_PROCESS_ROLES}
      KAFKA_LISTENERS: ${KAFKA_LISTENERS}
      KAFKA_ADVERTISED_LISTENERS: ${KAFKA_ADVERTISED_LISTENERS}
      KAFKA_CONTROLLER_LISTENER_NAMES: ${KAFKA_CONTROLLER_LISTENER_NAMES}
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: ${KAFKA_LISTENER_SECURITY_PROTOCOL_MAP}
      KAFKA_CONTROLLER_QUORUM_VOTERS: ${KAFKA_CONTROLLER_QUORUM_VOTERS}
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: ${KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR}
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: ${KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR}
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: ${KAFKA_TRANSACTION_STATE_LOG_MIN_ISR}
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: ${KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS}
    healthcheck:
      test: [ "CMD-SHELL", "/opt/kafka/bin/kafka-topics.sh --bootstrap-server kafka:9092 --list" ]
      interval: 10s
      timeout: 10s
      retries: 5
      start_period: 30s

  patient-service:
    build: ./patient-service
    environment:
      BILLING_SERVICE_ADDRESS: ${BILLING_SERVICE_ADDRESS}
      BILLING_SERVICE_GRPC_PORT: ${BILLING_SERVICE_GRPC_PORT}
      SPRING_DATASOURCE_URL: ${SPRING_DATASOURCE_URL}
      SPRING_DATASOURCE_PASSWORD: ${POSTGRES_PASSWORD}
      SPRING_DATASOURCE_USERNAME: ${POSTGRES_USER}
      SPRING_JPA_HIBERNATE_DDL_AUTO: ${SPRING_JPA_HIBERNATE_DDL_AUTO}
      SPRING_KAFKA_BOOTSTRAP_SERVERS: ${SPRING_KAFKA_BOOTSTRAP_SERVERS}
      SPRING_SQL_INIT_MODE: ${SPRING_SQL_INIT_MODE}
    depends_on:
      patient-service-db:
        condition: service_healthy
      kafka:
        condition: service_healthy
      billing-service:
        condition: service_healthy
      analytics-service:
        condition: service_healthy
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:4000/actuator/health" ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s

  billing-service:
    build: ./billing-service
    ports:
      - "${BILLING_SERVICE_PORT}:${BILLING_SERVICE_PORT}"
      - "${BILLING_SERVICE_GRPC_PORT}:${BILLING_SERVICE_GRPC_PORT}"
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:4001/actuator/health" ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s

  analytics-service:
    build: ./analytics-service
    ports:
      - "${ANALYTICS_SERVICE_HTTP_PORT}:${ANALYTICS_SERVICE_HTTP_PORT}"
      - "5005:5005"
    environment:
      SERVER_PORT: ${ANALYTICS_SERVICE_HTTP_PORT}
      SPRING_KAFKA_BOOTSTRAP_SERVERS: ${SPRING_KAFKA_BOOTSTRAP_SERVERS}
    depends_on:
      kafka:
        condition: service_healthy
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:4002/actuator/health" ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s

  api-gateway:
    build: ./api-gateway
    ports:
      - "${API_GATEWAY_PORT}:${API_GATEWAY_PORT}"
    depends_on:
      patient-service:
        condition: service_healthy
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:4004/actuator/health" ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s

  auth-service:
    build: ./auth-service
    ports:
      - "${AUTH_SERVICE_PORT}:${AUTH_SERVICE_PORT}"
    environment:
      SPRING_DATASOURCE_URL: ${SPRING_DATASOURCE_URL_AUTH_SERVICE}
      SPRING_DATASOURCE_PASSWORD: ${POSTGRES_PASSWORD_AUTH_SERVICE}
      SPRING_DATASOURCE_USERNAME: ${POSTGRES_USER_AUTH_SERVICE}
      SPRING_JPA_HIBERNATE_DDL_AUTO: ${SPRING_JPA_HIBERNATE_DDL_AUTO_AUTH_SERVICE}
      SPRING_SQL_INIT_MODE: ${SPRING_SQL_INIT_MODE_AUTH_SERVICE}
      JWT_SECRET: ${JWT_SECRET}
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:4005/actuator/health" ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s
