server:
  port: 4004

logging:
  level:
    org.springframework.cloud.gateway: TRACE
    org.springframework.cloud.gateway.route.RouteDefinitionRouteLocator: TRACE
    org.springframework.http.server.reactive: DEBUG
    org.springframework.web.reactive: DEBUG
    reactor.netty: DEBUG

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    gateway:
      enabled: true
    health:
      show-details: always
auth:
  service:
    url: http://auth-service:4005

spring:
  cloud:
    gateway:
      # Routes are now defined in ApiGatewayApplication.java for better reliability
      enabled: true